@use "../../assets/sass/variables" as *;

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  border-bottom: 2px solid $black;
  width: 92%;
  

  &__link {
    text-decoration: none;
    color: $black;
    font-weight: bold;
    
    &:hover {
      text-shadow: 0px 1px 2px $tertiary-colour, 1px 2px 3px $secondary-colour;
    }
  }

}