@use "../../assets/sass/typography";
@use "../../assets/sass/variables" as *;

.home {
  text-align: center;
  margin: 10rem 1rem;
  padding: 5rem 1rem 0;
  border: 2px solid $black;
  border-radius: 10px 40px;
  height: 20rem;
  background-color: $background-colour;
  box-shadow: 0px 1px 2px $primary-colour, 1px 2px 3px $primary-colour, 2px 3px 4px $primary-colour, 4px 5px 6px $primary-colour,
              5px 6px 7px $primary-colour, 6px 7px 8px $primary-colour, 7px 8px 9px $primary-colour, 8px 9px 10px $tertiary-colour;
  
  @media only screen and (min-width: 1080px) {
    max-width: 100vw;
    margin: 12rem 10rem;
  }

  &__header {
    text-shadow: 0px 1px 2px $tertiary-colour, 1px 2px 3px $secondary-colour, 2px 3px 4px $secondary-colour, 4px 5px 6px $primary-colour;
    justify-self: center;
    align-self: center;

    @media only screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__description {
    justify-self: center;
    font-weight: bold;
    padding: 1rem;
    text-shadow: 0px 1px 2px $tertiary-colour;
    @media only screen and (min-width: 768px) {
      font-size: 1.4rem;
    }
  }
}