@use "../../assets/sass/variables" as *;

.playlist {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.7rem;
  padding: 1rem;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 10px 40px;
  background-color: $background-colour;
  box-shadow:  0px 1px 2px $primary-colour, 1px 2px 3px $primary-colour, 2px 3px 4px $primary-colour, 4px 5px 6px $tertiary-colour;

  &__title, &__author, &__img, &__description {
    justify-self: center;
  }

  &__title {
    text-decoration: underline 0.1rem solid black;
    text-underline-offset: 0.5rem;
    text-shadow: 0px 1px 2px $tertiary-colour, 1px 2px 3px $secondary-colour, 2px 3px 4px $primary-colour;
  }

  &__author {
    font-weight: bold;
  }

  &__img {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px 10px;
  }

  &__description {
    font-style: italic;
  }

  &__songs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    &--show, &--hide {
      border-radius: 2px 7px;
      border: 1px solid black;
      padding: 0.3rem;

      &:active {
        box-shadow: 1px 1px $black;
        transform: translate(1px,2px);
    }
    }

    &--show {
      background-color: $primary-colour;
      color: $tertiary-colour;
      box-shadow: 0px 1px $primary-shadow, 1px 2px $primary-shadow, 2px 3px $black;

      &:hover {
        background-color: $primary-hover;
      }
    }

    &--hide {
      background-color: $tertiary-colour;
      box-shadow: 0px 1px $tertiary-shadow, 1px 2px $tertiary-shadow, 2px 3px $black;
    }
  }
}