@use "../../assets/sass/variables" as *;

.create-playlist-form {
    display: grid;
    justify-content: center;
    align-items: center;
    
    &__content {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 2.5fr;
        gap: 1rem;
        margin: 0.8rem;
        padding: 2rem;
        background-color: $background-colour;
        box-shadow:  0px 1px 2px $primary-colour, 1px 2px 3px $primary-colour, 2px 3px 4px $primary-colour, 4px 5px 6px $tertiary-colour;
        border: 2px solid black;
        border-radius: 10px 40px;

        @media only screen and (min-width: 768px) {
            grid-template-columns: 1fr 4fr;
        }

        @media only screen and (min-width: 1080px) {
            grid-template-columns: 1fr 7fr;
        }
    }

    &__header {
        padding: 3rem 0 1.5rem;
        text-align: center;
        text-shadow: 0px 1px 2px $tertiary-colour, 1px 2px 3px $secondary-colour, 2px 3px 4px $secondary-colour, 4px 5px 6px $primary-colour;
    }

    &__input-header {
        font-weight: bold;
        text-shadow: 0px 1px 2px $tertiary-colour;
    }

    &__input {
        border: 1px solid $black;
        background-color: $tertiary-colour;
        border-radius: 2px 7px;
    }

    &__full-name, &__playlist-name, &__img-url {
        height: 2rem;
    }

    &__song-selection {
        height: 15rem;
        padding: 0.5rem 1rem;
        overflow: auto;
    }

    &__button {
        grid-column: 2/3;
        justify-self: center;
        width: 10rem;
        padding: 0.5rem;
        border: 1px solid $black;
        border-radius: 5px 10px;
        background-color: $primary-colour;
        color: $tertiary-colour;
        text-shadow: 0px 1px 2px $black;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0px 1px $primary-shadow, 1px 2px $primary-shadow, 2px 3px $primary-shadow, 3px 4px $black;

        &:hover {
            background-color: $primary-hover;
        }

        &:active {
            box-shadow: 1px 1px $black;
            transform: translate(1px,2px);
        }
    }
}