@use "../../assets/sass/variables" as *;

.view-playlists {
    display: grid;
    justify-content: center;
    align-items: center;

    &__header {
      text-align: center;
      text-shadow: 0px 1px 2px $tertiary-colour, 1px 2px 3px $secondary-colour, 2px 3px 4px $secondary-colour, 4px 5px 6px $primary-colour;
      padding: 3rem 0 1.5rem;
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;

      @media only screen and (min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
      }

      @media only screen and (min-width: $desktop) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
}