$app-background-one: #b993d6;
$app-background-two: #8ca6db;

$primary-colour: #7371FC;
$secondary-colour: #A594F9;
$tertiary-colour: #F5EFFF;

$background-colour: #cdc1ff;

$black: black;

$primary-shadow: #413f99;
$primary-hover: #8d8bfa;